<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="css/main.css">
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap" rel="stylesheet">
</head>

<body>
  <div class="header">
    <div class="header-contact">

    </div>
    <div class="navbar">
      <nav class="nav">
        <a href="#" class="nav-link">
          <h1>Logo</h1>
        </a>
        <button type="button" class="bars" name="button">
          <span class="fa fa-bars"></span>
        </button>
        <div class="nav-menu">
          <a href="#" class="nav-link">Home</a>
          <a href="#" class="nav-link">About</a>
          <a href="#" class="nav-link">Courses</a>
          <a href="#" class="nav-link">Contact</a>
          <nav class="nav-btn">
            <a href="#" class="nav-btn-link">Signup</a>
          </nav>
          <nav class="nav-btn">
            <a href="#" class="nav-btn-link-search"><i class="fa fa-search"></i></a>
          </nav>
        </div>
      </nav>
    </div>
  </div>
  <div class="hero-banner">
    <div class="hero-banner-content">
      <h3>Become Master</h3>
      <h1>Learn New Skills Online</h1>
      <h1>Find Best Courses</h1>
      <button type="button" name="button" class="btn-yellow">Get A Quote</button>
      <button type="button" name="button" class="btn">Read more</button>
    </div>
    <div class="hero-banner-image">
      <img src="images/img1.svg" alt="">
    </div>
  </div>
  <div class="banner-countdown">
    <div class="banner-countdown-1">
    </div>
    <div class="countdown">
      <div class="info">
        <img src="images/img4.svg" width="100" height="100" alt="">
        <h4>upcoming our <span class="yellow">basic in python</span> course</h4>
      </div>
      <div class="time">
        <div class="time-reamining">
          <h3>11 : </h3>
          <small>Days</small>
        </div>
        <div class="time-reamining">
          <h3>02 : </h3>
          <small>Hours</small>
        </div>
        <div class="time-reamining">
          <h3>45 : </h3>
          <small>Minutes</small>
        </div>
        <div class="time-reamining">
          <h3>21 </h3>
          <small>Seconds</small>
        </div>
      </div>
    </div>
  </div>
  <div class="contents-container1">
    <h1>Top Featured Courses</h1>
    <div class="cards">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="images/card-img.jpg" alt="Card image cap">
        <div class="card-body">
          <div class="icon-outer">
            <div class="icon-inner">
            </div>
          </div>
          <h3>Web Development</h3>
          <small>Duke University</small>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="images/card-img.jpg" alt="Card image cap">
        <div class="card-body">
          <div class="icon-outer">
            <div class="icon-inner">
            </div>
          </div>
          <h3>Web Development</h3>
          <small>Duke University</small>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="images/card-img.jpg" alt="Card image cap">
        <div class="card-body">
          <div class="icon-outer">
            <div class="icon-inner">
            </div>
          </div>
          <h3>Web Development</h3>
          <small>Duke University</small>
        </div>
      </div>
    </div>
    <div class="cards">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="images/card-img.jpg" alt="Card image cap">
        <div class="card-body">
          <div class="icon-outer">
            <div class="icon-inner">
            </div>
          </div>
          <h3>Web Development</h3>
          <small>Duke University</small>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="images/card-img.jpg" alt="Card image cap">
        <div class="card-body">
          <div class="icon-outer">
            <div class="icon-inner">
            </div>
          </div>
          <h3>Web Development</h3>
          <small>Duke University</small>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="images/card-img.jpg" alt="Card image cap">
        <div class="card-body">
          <div class="icon-outer">
            <div class="icon-inner">
            </div>
          </div>
          <h3>Web Development</h3>
          <small>Duke University</small>
        </div>
      </div>
    </div>
    <div class="cards">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="images/card-img.jpg" alt="Card image cap">
        <div class="card-body">
          <div class="icon-outer">
            <div class="icon-inner">
            </div>
          </div>
          <h3>Web Development</h3>
          <small>Duke University</small>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="images/card-img.jpg" alt="Card image cap">
        <div class="card-body">
          <div class="icon-outer">
            <div class="icon-inner">
            </div>
          </div>
          <h3>Web Development</h3>
          <small>Duke University</small>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="images/card-img.jpg" alt="Card image cap">
        <div class="card-body">
          <div class="icon-outer">
            <div class="icon-inner">
            </div>
          </div>
          <h3>Web Development</h3>
          <small>Duke University</small>
        </div>
      </div>
    </div>
  </div>
  <div class="contents-container2">
    <div class="contents-container2-image">
      <img src="images/graduation.jpg" alt="">
      <div class="name-tag">
        <h4>Kimmie Vo</h4>
        <p>Junior Designer</p>
      </div>
      <div class="yellow-icon">
        <div class="">
          <img src="images/img5.svg" alt="">
        </div>
      </div>
    </div>
    <div class="contents-container2-content">
      <h1>Successful Student</h1>
      <h1 class="yellow">Feedback</h1>
      <p>Take courses from the worlds best instructors and universities. Courses included recorded auto-graded and peer-reviewed assignments, video lectures, and community discussion forums. When you complete a course, you'll be eligible to receive a
        sharable electronic Course Certificate for a small fee.</p>
      <div class="">
        <h4>The courses that kimmie has taken</h4>
        <div class="student-course">
          <img src="images/img10.svg" alt="">
          <div class="student-course-description">
            <h4>Modern contempary art and design</h4>
            <p>The Museum of Mordern Art</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="contents-container3">
    <div class="achievement">
      <img src="images/img6.svg" alt="">
      <p>768</p>
      <h4>Courses published</h4>
    </div>
    <div class="achievement">
      <img src="images/img7.svg" alt="">
      <p>120</p>
      <h4>expert instructors</h4>
    </div>
    <div class="achievement">
      <img src="images/img8.svg" alt="">
      <p>8,300</p>
      <h4>happy learners</h4>
    </div>
    <div class="achievement">
      <img src="images/img9.svg" alt="">
      <p>32</p>
      <h4>awards achieved</h4>
    </div>
  </div>
  <div class="contents-container4">
    <div class="newsletter-image">
      <img src="images/img3.svg" alt="">
    </div>
    <div class="newsletter">
      <h4 class="yellow">Subscribe now</h4>
      <h1>Get every single <br>update you will get</h1>
      <form class="newsletter-form" action="index.html" method="post">
        <input type="text" name="" class="newsletter-input" value="" placeholder="&#xf0e0;  Enter your email address" style="font-family:sans-serif, FontAwesome">
        <button type="submit" class="btn-yellow" name="button">Subscribe</button>
      </form>

    </div>
  </div>
  <div class="footer">
    <div class="wrapper">
      <div class="row">
        <div class="column column-main">
          <h4 class="title">Logo</h4>
          <a href="#" class="link"><i class="fa fa-map-marker" aria-hidden="true"></i>1500 Treat Ave, Suite 200, San Fransico, CA</a>
          <a href="#" class="link"><i class="fa fa-envelope" aria-hidden="true"></i>vung@yahoo.com</a>
          <a href="#" class="link"><i class="fa fa-phone" aria-hidden="true"></i>1-800-800-2999</a>
        </div>
        <div class="column">
          <h4 class="title">Community</h4>
          <a href="#" class="link">Learners</a>
          <a href="#" class="link">Partners</a>
          <a href="#" class="link">Developers</a>
          <a href="#" class="link">Beta testers</a>
          <a href="#" class="link">Translators</a>
        </div>
        <div class="column">
          <h4 class="title">Information</h4>
          <a href="#" class="link">About</a>
          <a href="#" class="link">Pricing</a>
          <a href="#" class="link">Careers</a>
          <a href="#" class="link">Blog</a>
          <a href="#" class="link">Contact</a>
        </div>
        <div class="column">
          <h4 class="title">More</h4>
          <a href="#" class="link">Press</a>
          <a href="#" class="link">Investors</a>
          <a href="#" class="link">Terms</a>
          <a href="#" class="link">Privacy</a>
          <a href="#" class="link">Help</a>
        </div>
      </div>
    </div>
    <div class="media">
      <p>Copyright <span>&#169;</span> 2021 Logo</p>
      <div class="">
        <i class="fa fa-facebook-official" aria-hidden="true"></i>
        <i class="fa fa-pinterest" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <script src="https://kit.fontawesome.com/42d4c8c9bc.js" crossorigin="anonymous"></script>
</body>

</html>
